/* html5doctor.com/html-5-reset-stylesheet/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
article,aside,figure,footer,header,hgroup,nav,section { display:block; }

html, body {

	background-color: #ccc;
	height: 100%;
	width: 100%;
	overflow: visible;
}

#content
{
	position: relative;
	float: none;
	width: 600px;
	height: 600px;
	background-color: rgba(255,255,255,0.5	);
	display: block;	
	z-index: 2;
	margin: auto;
}

#canvas-container
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	top:0px;
	left: 0px;
}

#playground
{
	width: 100%;
	height: 100%;
}